.slider{
   position:relative;
   width:100%;
   z-index: 1;
   height: 570px;
   justify-content:center;
   align-items:center;

   transition: all 0.25s ease 0s;
}

.arrow_Left{
    position: absolute;
    top: 43%;
    left: 32px;
    font-size: 18px;
    background: #fff;
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-weight: 600;
    color: #fc6486;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
}

.arrow_Right{
    position: absolute;
    top: 43%;
    right: 32px;
    font-size: 18px;
    background: #fff;
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-weight: 600;
    color: #fc6486;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
}

.Big_S_img{
    height:562.5px;
    width:100%;
    /* border-radius:10px; */
}

.slide{
    opacity: 0;
    /* width:100%; */
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    /* width:100%; */
    transition-duration: 1s ease;
    transform:scale(2.08);
}

.homeBigimg{
    width: 100%;
    max-width: 100%;
}

.hmTitle {
    font-size: 25px;
    font-weight: 700;
    color: #323232;
    font-family: 'Lato';
}

.tribox{
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-gap: 1%;
    margin-left:.7%
}

.tribox_img{
    max-width: 100%;
}

/* margin-left: 4vw;
position: fixed;
z-index: 184; */

/* ----------------Small Carousel --------------*/

.subhead{
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 0vw;
    color:black;
}

.hmtrnditemNm {
    font-size: 14px;
    margin-top: 0px;
    color: #fc6486;
    margin-left: 0vw;
    font-weight: 600;
    font-family: 'Lato',sans-serif;
}

.hmtrndcutprz{
    color: #323232 !important;
    text-decoration: line-through;
    font-size: 13px !important;
}

.double{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 2%;
    margin-left:1%;
}

.double_si{
    display: grid;
    grid-template-columns: 58% 35%;
    grid-gap: 2%;
    margin-left:1%;
}

.lazy_img{
    max-width: 100%;
}

.videoCnt {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.videoCnt_span {
    background: #000;
    width: 155px;
    height: 5px;
    display: block;
    margin: -45px 83px;
}

.videoCnt_p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 3.5rem;
    display: inline-block;
    font-weight: 600;
}

.quintuple{
    display: grid;
    grid-template-columns: 16.2% 16.2% 16.2% 16.2% 16.2% 16.2%;
    grid-gap: .5%;
    margin-left:.5%;
}

.bestselrTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 1px;
    margin-top: -15px;
}

.quadruple{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 1%;
    margin-left:.8%;
}

